@page "{bucketid:guid}"
@model IndexModel

<div class="container">
    <div>
        <h2>HTTP Bucket</h2>
        <p>Started @DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")</p>
        <p>Make a HTTP GET/POST/PUT/DELETE to <b>/bucket/</b>whatever-url and you get a 200 in return and the request will show up below</p>
        <p>Add desired http status-code like <b>/204/bucket/</b>whatever-url and you will get the desired statuscode in return</p>
        <p>Note that this is a shared bucket!</p>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group" id="messagesList"></ul>
        </div>
    </div>
</div>