@page
@model HttpBucket.Pages.NewModel
<div class="container">
    <div>
        <h2>HTTP Bucket</h2>
        <p>Create a new bucket by clicking the button below.</p>
        <a class="btn btn-primary" href="/ui/@Guid.NewGuid()" role="button">Get me a new bucket!</a>
        <hr>
    </div>
</div>